.footer{
    font-size: 20px;
    margin: 5px 34px;

}
.ButtonDel{
    float:right;
    font-size: 20px;
    padding: 5px;
    width: 380px;
    margin-bottom: 10px;
    background: rgb(235, 19, 11);
    border: none;
    border-radius:50px 0px 50px 0px ;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 36%), 0 2px 10px 0 rgb(0 0 0 / 12%);;
    cursor: pointer;
}
.span{
    margin-left: 50px;
}